.search-form {
    margin-top: .6rem;
    margin-bottom: .6rem;
    height: 2.4rem;
    position: relative;
    padding: 0 0.6rem;
}
.box-search {
    vertical-align: middle;
    position: relative;
    margin-right: 4.2rem;
    border-radius: .18rem;
    border: 1px #CCC solid;
    background: #FFF;
    height: 2.4rem;
    line-height: 2.4rem;
    padding: 0 2.1rem 0 2.1rem;
    -webkit-box-sizing: border-box;
}
/*搜索按钮*/
.box-search>i:nth-of-type(1){
    display: inline-block;
    position: absolute;
    left: .6rem;
    font-size: 1.2rem;
    color: #999;
    vertical-align: middle;
    font-style: normal;
    height: 2.4rem;
    line-height: 2.4rem;
}
/*input框*/
.box-search>input {
    width: 100%;
    border: none;
    background: rgba(255, 255, 255, 0);
    outline-style: none;
    display: inline-block;
    line-height: 0.84rem;
    height: 100%;
    font-size: .84rem;
    padding: 0;
}

/*删除按钮*/
.box-search .delete {
    display: inline-block;
    position: absolute;
    right: .6rem;
    top:0;
    font-size: 1.2rem;
    color: #999;
    vertical-align: middle;
    font-style: normal;
    height: 2.4rem;
    line-height: 2.4rem;
}

/*搜索按钮*/
.btn {
    border: 0;
    position: absolute;
    right: 0.6rem;
    top: 0;
    width: 3.6rem;
    height: 100%;
    background-color: #06c1ae;
    color: #fff;
    border-radius: .18rem;
    font-size: .84rem;
    cursor: pointer;
}
/*输入关键词 下拉列表*/
.search-suggestion{
    background-color: #fff;
    border-top: 1px solid #ccc;
}
.list-item {
    height: 2.4rem;
    line-height: 2.4rem;
    padding: 0 0.84rem;
    background-color: #FDFDFC;
    border-bottom: 1px solid #ccc;
    color: #999999;
}
.list-item>.search-suggestion-item {
    display: flex;
    list-style: none;
    color: #999999;
    position:relative;
    font-size: .84rem;
    height: 100%;
    text-decoration: none;
    outline: 0;
    justify-content: space-between;
}
.item-search {
    display: block;
    margin-right: 6rem;
}
.item-search>i:nth-of-type(1){
    display: inline-block;
    margin-right: 0.42rem;
    font-size:.9rem;
}
.item-search > .match-word {
    color: #06c1ae;
}
.result-count {

}
