/*饿了吗*/
/*左箭头*/
.navbar {
    height: 3.03rem;
    color: #999;
    display: -webkit-box;
    display: -ms-flexbox;
    position: relative;
}
.navbar .nav-wrap-left {
    height: 3.03rem;
    line-height: 3.03rem;
}
.nav-wrap-left a{
    display: block;
    height: 2.6rem;
    width: 1.35rem;
    line-height: 2.6rem;
    padding: 0 .6rem;
    font-size:2.6rem
}
.nav-wrap-left>a>i{
    color: #999;
}
